@import '../../../styles/variables';

@mixin media($breakpoint) {
   @if $breakpoint == medium {
    @media (min-width: 992px) { @content; }
  } 
}

.card {
  background: white;
  padding: 2rem 1rem 1.3rem;
  margin-bottom: 2.2rem;
  border-radius: .4rem;
  box-shadow: .3px 10px 10px $desaturated-dark-cyan-opace;
  position: relative;

  @include media(medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-body {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;

    .logo {
      position: absolute;
      top: 0;
      translate: 0 -50%;
      width: 3rem;
      
      @include media(medium) {
        position: static;
        translate: 0 0;
        width: 6rem;
      }

      img {
        max-width: 100%;
      }
    }
  
    hr {
      @include media(medium) {
        display: none;
      }
    }
  }

  .border {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: .3rem;
    background: $desaturated-dark-cyan;
    border-radius: .4rem 0 0 .4rem;
  }

  .border.show {
    display: block;
  }

  .row {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .8rem;

    &:last-of-type {
      @include media(medium) {
        margin-bottom: 0;
      }
    }
  }

  .company {
    color: $desaturated-dark-cyan;
    font-weight: bold;
  }

  .position {
    font-weight: bold;
    transition: color .2s;
    cursor: pointer;

    &:hover {
      color: $desaturated-dark-cyan;
    }
  }

  .third-row {
    color: $dark-grayish-cyan;

    .separator {
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: $dark-grayish-cyan;
    }
  }

  .card-filters {
    width: 100%;
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @include media(medium) {
      justify-content: flex-end;
    }
  }
}