@import '../../../styles/variables';

.card {
  background: white;
  padding: 2rem 1rem 1.3rem;
  margin-bottom: 2.2rem;
  border-radius: .4rem;
  box-shadow: .3px 10px 10px $desaturated-dark-cyan-opace;
  position: relative;
  overflow: hidden;

  .border {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: .3rem;
    background: $desaturated-dark-cyan;
  }

  .border.show {
    display: block;
  }

  .row {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .8rem;
  }

  .company {
    color: $desaturated-dark-cyan;
    font-weight: bold;
  }

  .position {
    font-weight: bold;
  }

  .third-row {
    color: $dark-grayish-cyan;

    .separator {
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: $dark-grayish-cyan;
    }
  }

  .card-filters {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}