@import '../../../styles/variables';

.tile-wrapper {
  border-radius: .3rem;
  overflow: hidden;
}
button {
  border: none;
  outline: none;
  padding: .5rem;
  color: $desaturated-dark-cyan;
  font-size: 15px;
  font-weight: bold;
  background: $light-grayish-cyan-filter-tablets;
  cursor: pointer;
  transition: background .2s, color .2s;
  
  &:hover {
    background: $desaturated-dark-cyan;
    color: white;
  }
}

span {
  background: $desaturated-dark-cyan;
  color: white;
  font-weight: bold;
  padding: .5rem;
  font-size: 15px;
  cursor: pointer;
  transition: background .2s;

  &:hover {
    background: $very-dark-grayish-cyan;
  }
}