@import '../../../styles/variables';

main {
  width: 100%;
  min-height: calc(100vh - 10rem);
  background: $light-grayish-cyan-background;

  .container {
    width: min(94vw, 1400px);
    margin-inline: auto;
    position: relative;
    top: -3rem;
  }
}